body {
    background: black;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hud {
  position: relative;
  width: 350px;
  height: 350px;
}

.ring1, .ring2, .ring3, .core {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.ring1 {
  width: 220px;
  height: 220px;
  border: 2px solid rgba(0, 240, 255, 0.15);
  animation: spin 3s linear infinite;
}

.ring2 {
  width: 170px;
  height: 170px;

  border: 3px solid transparent;
  border-top: 3px solid #00F0FF;
  border-left: 3px solid #7AF7FF;

  box-shadow:
    0 0 12px rgba(0, 240, 255, 0.9),
    0 0 25px rgba(122, 247, 255, 0.6);

  animation: spinReverse 1.5s linear infinite;
}

.ring3 {
  width: 120px;
  height: 120px;

  border: 3px dashed rgba(0, 240, 255, 0.4);
  animation: spin 2s linear infinite;
}

.core {
  width: 75px;
  height: 75px;

  background: radial-gradient(
    circle,
    #ffffff 0%,
    #bfffff 15%,
    #7AF7FF 35%,
    #00F0FF 55%,
    rgba(0, 240, 255, 0.25) 75%,
    transparent 90%
  );

  box-shadow:
    0 0 18px #7AF7FF,
    0 0 40px #00F0FF;

  animation: pulse 1.2s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spinReverse {
  0% { transform: translate(-50%, -50%) rotate(360deg); }
  100% { transform: translate(-50%, -50%) rotate(0deg); }
}

@keyframes pulse {
  0%, 100% { transform: translate(-50%, -50%) scale(1); opacity: 1; }
  50% { transform: translate(-50%, -50%) scale(1.1); opacity: 0.75; }
}

#loading {
  color: white;
  font-family: Orbitron;;
}